header{
    height: 115px !important;
    padding: 25px 58px;
    background-color:#5F688F;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body{
    margin: 0;
}

h1{
    font-family: baumans, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: white !important;
    margin: 0 !important;
}

.header-1 a{
    text-decoration: none !important;
    color: white !important;
}

.header-1{
    display: flex;
    gap: 10rem;
}
.header-1 div{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-1 div h2{
    font-size: 20px;
    font-family: Inter, sans-serif;
    font-weight: 600;
    margin: 0 !important;
}

header ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 25px;
    color: white;
}

.header-1 div h2{
    color: white;
}

.header-1 {
    margin-right: 20px;
}

ul{
    margin: 0 !important;
}

#li1, #li2, #li3 {
    position: relative;
}
  
#li1::after, #li2::after, #li3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    border-bottom: 2px solid white;
}

header ul li{
    font-family: Inter, Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 7px;
}