/* Header específico para a homepage */
.home-header {
    position: absolute;
    z-index: 9999;
    height: 115px;
    padding: 25px 58px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.home-header h1 {
    font-family: baumans, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: white;
    margin: 0;
}

.home-header ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 0 !important;
}

.home-header ul li {
    font-family: Inter, Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 3px;
}

.home-header ul li a {
    color: white;
    text-decoration: none;
}

.home-header .header-1 {
    display: flex;
    gap: 4rem;
    align-items: center;
}

.home-header .header-1 div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.home-header .header-1 div h2 {
    font-size: 20px;
    font-family: Inter, sans-serif;
    font-weight: 600;
    color: white;
}

/* Estilo para os botões de navegação */
#li1 {
    border-bottom: 2px solid white;
}

#li2, #li3 {
    position: relative;
}

#li2::after, #li3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    border-bottom: 2px solid white;
}
