@import url(/src/partials/styles/colors.css);
@import url(/src/partials/styles/fonts.css);

footer {
    min-height: 72px;
    margin-top: 0;
    background-color: #848484;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-1 {
    min-height: 137px;
    margin-top: 250px;
    background-color: #C0C0C0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.footer-1 h1{
    font-family: baumans;
    font-size: 40px;
}

.icones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

address {
    display: flex;
    align-items: center;
    margin: 0;
}

address h4 {
    font-family: inter;
    font-weight: var(--medium-inter);
    font-size: 20px;
    color: var(--text-color);
    margin: 0;
    font-style: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
