/* Catálogo de Professores - Estilos Principais */
@import url(../components/card.css);
@import url(../components/search.css);
@import url(../components/subject-component.css);
@import url(../components/teacher-presentation.css);
@import url(../components/feedback-component.css);
@import url(../components/footer.css);
@import url(../components/catalog-header.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body {
    background-image: linear-gradient(to bottom, #d4e1f3, #fff);
    background-repeat: no-repeat;
    height: 100vh;
}

.search input {
    background: url(../../../public/assets/icons/search.png) no-repeat 10px center;
    background-size: 16px; 
    padding-left: 36px;
}