*{
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

main{
    display: flex;
    flex-flow: row nowrap;
}

div#camera{
    height: 100vh;
    width: 75vw;
    background-color: #333;
    background-image: url(../Imagens/placeholderVideoCall.jpg);
    background-position: right center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

menu{
    height: 100vh;
    width: 25vw;
    background-color: #333;
}

div#menuChamada{
    background-color: #e0e4f6;
    height: 85%;
    width: 100%;
    border-radius: 5px 0px 0px 0px;
    display: flex;
    flex-flow: column nowrap;
    padding: 10px;

}

div#menuChamadaBottom{
    background-color: #5F688F;
    border-radius: 0px 0px 0px 5px;
    height: 15%;
    width: 100%;
    position: sticky;
}

.botoes > img{
    height: 30px;
    width: 30px;
    float: left;
    margin: 0px 7px;
    
}

.botoes{
    height: 60px;
    width: max-content;
    margin: 10px;
    font-size: 1.3em;
    background-color: transparent;
    color: black;
}

.botoes:hover{
    background-color: #5F688F;
    border-radius: 10px;
}
