.feedbacks{
    margin-left: 200px;
}
.comments{
    margin-top: 5px;
}
.comment{
    border: 2px solid #6a68687f;
    border-radius: 15px;
    width: 500px;
    padding: 20px;
    margin-bottom: 20px;
}
.student{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-id{
    display: flex;
    align-items: center;
    width: 120px;
    justify-content: space-between;
}
.round-representation{
    width: 40px;
    height: 40px;
    background-color: #48ff0077;
    border-radius: 50%;
}
.stars{
    display: flex;
    align-items: center;
    background-color: #f3f396f0;
}
